body{
    margin-top:0;
    width:100%;
}
#title{
    text-align: center;
    background-color:lightseagreen;
    padding:25px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
}
#description{
    text-align: center;
    background-color: azure;
    font-weight: 700;
}
#tablecontent{
    padding: 22px;
}
#tablesection{
    text-align: center;
}
.paginationSection{
    padding: 8px 8px;
    background-color: antiquewhite;
    flex-wrap: wrap;
    
}
.paginationSection button{
    margin:5px;
    border: none;
    border-radius: 2px;
    background-color: rgb(9, 212, 239);
}
.paginationSection button:hover{
    background-color:rgb(244, 146, 111);
}
button.active{
    background-color: white;
    border: 1px solid black;
}


@media only screen and (max-width:425px){
    .table-modification{
        font-size: 12px;
    }
}